<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.aravi.instagramx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="me.aravi.instagramx.auth.InstaAuthActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/InstaAuthTheme" />
    </application>
</manifest>